:root {
    --page-margin: 20px;
    --line-height: 1.5em;
    --background-color: white;
}

html {
    margin: 0 var(--page-margin);
    line-height: var(--line-height);
    background-color: var(--background-color);
    font-family: "Comic Sans MS", sans-serif;
    font-size: 16px;
}

/*
Ideas for a CSS kit:
https://picocss.com/
https://missing.style/
https://codeburst.io/10-amazing-and-retro-css-kits-24612169f550
https://dev.to/iainfreestone/10-resources-for-recreating-old-school-retro-user-interfaces-today-hkj
https://github.com/matt-auckland/retro-css
*/
